.dateContainer {
    display: flex;
    justify-content: space-between;
}
.cat {
    height: fit-content;
    color: var(--primary-color);
    padding: 7px;
    transform: rotate(20deg);
    border-radius: 5px;
    /* border: 1px solid var(--primary-color); */
    margin-top: -20px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px;
    background-color: var(--secondary-color);
    width: fit-content;
    border: 1px solid white;
}
.imgContainer {
    width: 50%;
}
.contentContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    flex-grow: 2;
}
.contentContainer h2 {
    color: var(--primary-color);
}
.contentContainer > button {
    margin-top: auto;
}
.container {
    width: 100%;
    height: fit-content;

    border-radius: 5px;
    display: flex;
    gap: 20px;
    padding: 20px 0 40px 0;
    border-bottom: 1px solid #e6e6e6;
    max-height: 400px;
    height: 100%;
}
.container img,
.container h2 {
    cursor: pointer;
}
.moreBtn {
    display: inline-block;
    padding: 7px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 20px;

    border: none;

    font-weight: bold;

    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 1px solid white;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        max-height: fit-content;
        gap: 0;
    }
    .contentContainer,
    .imgContainer {
        width: 100%;
        padding: 5px;
        height: fit-content;
    }
}
