.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 160px;
    padding: 20px;
    background-color: var(--secondary-color);
    border-top: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 100%;
    max-width: 1200px;
    color: var(--primary-color);
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.footer p {
    padding-bottom: 20px;
}
