@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: var(--secondary-color);
}
:root {
    /* --primary-color: #f7cb15; */
    --primary-color: #ffd644;
    /* --primary-color: #6699cc; */
    --secondary-color: #1f2028;
    /* --secondary-color: #393939; */

    --spec: #e4e6e6;
    --accent: #36a3ff;
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
.image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}
p {
    font-weight: 400;
    line-height: 1.7;
}
