.header {
    min-height: 100px;
    width: 100%;
    background-color: var(--secondary-color);
    /* border-bottom: 1px solid var(--primary-color); */
    font-family: 'Cascadia Code', sans-serif;
}
.header > div {
    height: fit-content;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    max-width: 1200px;
}
.logoContainer {
    max-width: 30%;
    padding: 10px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 1px;

    color: var(--primary-color);
}
@media only screen and (max-width: 600px) {
    .header > div {
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
}
@media only screen and (max-width: 800px) {
    .header > div {
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
    .logoContainer {
        max-width: 100%;
        font-size: 2.5rem;
        margin-right: auto;
        margin-left: auto;

        padding: 10px;
    }
}
