.nav {
    max-width: 1200px;
    width: 67%;
    padding: 10px 0;
    height: 100%;
}
.navUl {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 10px;
}
.navItem {
    font-size: 1.5rem;
    color: var(--primary-color);
}
.active {
    /* text-decoration: underline; */

    border-bottom: 1px solid;
    padding-bottom: 2px;
    border-bottom-color: var(--primary-color);
    /* color: var(--accent); */
}

.nav small {
    font-size: 0.7rem;
}

@media only screen and (max-width: 800px) {
    .nav {
        width: 100%;
        padding: 0 10px;
    }
    .navUl {
        gap: 30px;

        justify-content: center;
    }
    .nav small {
        display: none;
    }
    .navItme {
        font-size: 16px;
    }
}
@media only screen and (max-width: 400px) {
    .navUl {
        gap: 20px;
    }
    .navItem {
        font-size: 1.3rem;
    }
}
